---
import ContactForm from "../components/ContactForm";
import Layout from "../layouts/Layout.astro";
import image from "../assets/contact-image.png";
import { Image } from "astro:assets";
---

<Layout>
  <div
    class="min-h-screen md:px-0 flex flex-col md:flex-row justify-center items-center"
  >
    <Image class="max-w-screen-md w-full" src={image} alt="Contact image" />
    <ContactForm client:load />
  </div>
</Layout>
