---
import { Image } from "astro:assets";
import placeholderIcon from "../assets/placeholder-icon.svg";
const { title, bgColor } = Astro.props;
---

<div class:list={["w-full h-[209px] rounded-[18px] flex flex-col", bgColor]}>
  <div class="flex-1 flex justify-center items-center">
    <Image src={placeholderIcon} alt="" width={80} height={80} />
  </div>
  <div
    class="bg-[#3B3B3B] rounded-b-[18px] h-[67px] flex justify-center items-center"
  >
    <span class="text-white font-semibold text-center">{title}</span>
  </div>
</div>
