---
import { Image } from "astro:assets";
import placeholderIcon from "../assets/placeholder-icon.svg";
const { title, bgColor } = Astro.props;
---

<div class="w-full h-[150px] rounded-[18px] flex flex-col hover:scale-105 transition-all duration-300 cursor-pointer">
  <div
    class:list={[
      "flex-1 flex justify-center items-center rounded-t-[18px]",
      bgColor,
    ]}
  >
    <Image src={placeholderIcon} alt="" width={80} height={80} />
  </div>
  <div
    class="bg-[#3B3B3B] h-[54px] flex justify-center items-center px-2 rounded-b-[18px]"
  >
    <span class="text-white font-semibold text-center">{title}</span>
  </div>
</div>
