---
import hiveLogo from "../assets/hive-logo-alternative.png";

const navigationItems = [
  { label: "Naslovna", url: "/" },
  { label: "Kategorije", url: "/categories" },
  { label: "O nama", url: "/about" },
  { label: "Kontakt", url: "/contact" },
];

const currentPath = Astro.url.pathname;
---

<nav
  class="fixed border-0.5 border-b border-gray-500 top-0 left-0 right-0 z-50 bg-[#2B2B2B] w-full hidden md:block px-[50px]"
>
  <div class="flex justify-between items-center max-w-screen-lg mx-auto">
    <a href="/">
      <img class="h-20 w-20" src={hiveLogo.src} alt="Hive logo" />
    </a>
    <ul class="flex gap-x-4 items-center">
      {
        navigationItems.map((item) => (
          <a
            href={item.url}
            class:list={[
              "rounded-[20px] px-4 py-2 cursor-pointer group transition-transform duration-200 hover:scale-105 block",
              { "bg-[#BF02C9] px-8 py-3": item.label === "Kontakt" },
              "font-semibold",
              {
                "text-[#d3d3d3] hover:text-white":
                  currentPath !== item.url && item.label !== "Kontakt",
              },
              { "text-white": currentPath === item.url },
              {
                "text-white": item.label === "Kontakt",
              },
            ]}
          >
            {item.label}
          </a>
        ))
      }
    </ul>
  </div>
</nav>
