<button class="transition-transform duration-300 hover:scale-110">
  <svg
    width="32"
    height="33"
    viewBox="0 0 32 33"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="transition-colors duration-300"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16 12.7344C13.7909 12.7344 12 14.5252 12 16.7344C12 18.9435 13.7909 20.7344 16 20.7344C18.2091 20.7344 20 18.9435 20 16.7344C20 14.5252 18.2091 12.7344 16 12.7344ZM10 16.7344C10 13.4207 12.6863 10.7344 16 10.7344C19.3137 10.7344 22 13.4207 22 16.7344C22 20.0481 19.3137 22.7344 16 22.7344C12.6863 22.7344 10 20.0481 10 16.7344Z"
      fill="#858584"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.5 6.23438C7.73858 6.23438 5.5 8.47295 5.5 11.2344V22.2344C5.5 24.9958 7.73858 27.2344 10.5 27.2344H21.5C24.2614 27.2344 26.5 24.9958 26.5 22.2344V11.2344C26.5 8.47295 24.2614 6.23438 21.5 6.23438H10.5ZM3.5 11.2344C3.5 7.36838 6.63401 4.23438 10.5 4.23438H21.5C25.366 4.23438 28.5 7.36838 28.5 11.2344V22.2344C28.5 26.1004 25.366 29.2344 21.5 29.2344H10.5C6.63401 29.2344 3.5 26.1004 3.5 22.2344V11.2344Z"
      fill="#858584"></path>
    <path
      d="M22.5 11.7344C23.3284 11.7344 24 11.0628 24 10.2344C24 9.40595 23.3284 8.73438 22.5 8.73438C21.6716 8.73438 21 9.40595 21 10.2344C21 11.0628 21.6716 11.7344 22.5 11.7344Z"
      fill="#858584"></path>
  </svg>
</button>
