---
const items = [
  "Escape Room",
  "Sportske igre",
  "Kulturne igre",
  "Radionice i edukacije",
  "Virtuelne aktivnosti",
  "Humanitarni projekti",
];
---

<section
  id="categories"
  class="h-screen px-[30px] flex flex-col justify-center"
>
  <div class="flex flex-col gap-y-[30px]">
    <div>
      <h1 class="text-white font-semibold text-[28px] leading-[39px]">
        Izaberite Kategoriju Aktivnosti
      </h1>
    </div>
    <div class="grid grid-cols-2 gap-5">
      {items.map((item) => <div>{item}</div>)}
    </div>
  </div>
</section>
