<section
  id="footer"
  class="h-screen bg-[#3B3B3B] px-[30px] flex flex-col justify-center"
>
  <div class="flex flex-col gap-y-[30px]">
    <div>
      <p class="text-white mt-[10px]">
        Profesionalna organizacija tim bilding događaja za kompanije svih
        veličina.
      </p>
      <p class="text-white mt-[10px]">
        Povežite se s nama i pratite najnovije aktivnosti!
      </p>
    </div>
    <button class="bg-[#BF02C9] rounded-[20px] w-full py-3">
      <span class="text-white font-semibold">Prijavi se</span>
    </button>
  </div>
</section>
