---
import { Image } from "astro:assets";
import infoIcon from "../assets/info-icon.png";
import InstagramIcon from "../components/InstagramIcon.astro";
import YouTubeIcon from "../components/YouTubeIcon.astro";
import LinkedInIcon from "../components/LinkedInIcon.astro";
---

<section
  id="footer"
  class="py-10 bg-[#3B3B3B] px-[30px] flex flex-col justify-center"
>
  <div class="flex flex-col gap-y-[30px] max-w-screen-lg mx-auto w-full">
    <div>
      <Image class="h-12 w-12" src={infoIcon} alt="Hive logo" />
    </div>
    <div class="flex flex-col gap-y-[20px]">
      <p class="text-[#ccc]">
        Profesionalna organizacija tim bilding događaja za kompanije svih
        veličina. Iskustvo koje gradi tim!
      </p>
      <p class="text-[#ccc]">
        Povežite se s nama i pratite najnovije aktivnosti!
      </p>
      <div class="flex items-center gap-x-[10px]">
        <a
          href="https://www.linkedin.com/company/hive-agency-me/posts/?feedView=all"
          target="_blank"
        >
          <LinkedInIcon />
        </a>
        <a href="https://www.instagram.com/hiveagency.me/" target="_blank">
          <InstagramIcon />
        </a>
      </div>

      <div class="flex flex-col gap-y-[15px] mt-[10px]">
        <a href="tel:+38267023001" class="flex items-center gap-x-[10px] group">
          <div
            class="bg-[#BF02C9]/20 p-1.5 rounded-full group-hover:bg-[#BF02C9]/30 transition-all duration-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#ccc"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
              ></path>
            </svg>
          </div>
          <span
            class="text-[#ccc] group-hover:text-white transition-all duration-300"
            >+382 67 023 001</span
          >
        </a>
        <a
          href="mailto:office@hiveagency.me"
          class="flex items-center gap-x-[10px] group"
        >
          <div
            class="bg-[#BF02C9]/20 p-1.5 rounded-full group-hover:bg-[#BF02C9]/30 transition-all duration-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#ccc"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
              ></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
          </div>
          <span
            class="text-[#ccc] group-hover:text-white transition-all duration-300"
            >office@hiveagency.me</span
          >
        </a>
      </div>
    </div>
    <a href="/contact">
      <button
        class="bg-[#BF02C9] hover:bg-[#a102ac] transition-all duration-300 hover:-translate-y-1 hover:shadow-lg rounded-[20px] w-full md:max-w-[200px] py-3"
      >
        <span class="text-white font-semibold">Prijavi se</span>
      </button>
    </a>
  </div>
</section>
