---
import { Image } from "astro:assets";
import hiveLogo from "../assets/hive-logo.png";
---

<section
  id="hero"
  class="min-h-screen max-w-screen-lg mx-auto px-[30px] md:px-0 flex flex-col justify-center"
>
  <div class="flex flex-col gap-y-[30px] md:max-w-[80%] lg:max-w-[60%]">
    <Image
      src={hiveLogo}
      alt="Hive logo"
      class="w-[200px] md:w-[250px] lg:w-[300px]"
    />
    <div>
      <h1
        class="text-white font-semibold text-[28px] md:text-[36px] lg:text-[48px] leading-[1.4]"
      >
        Otkrijte Najbolje Tim Bilding Aktivnosti
      </h1>
      <p
        class="text-white mt-[10px] text-base md:text-lg lg:text-xl opacity-90"
      >
        Vaš partner za nezaboravna iskustva! Pomažemo vam da kreirate savršene
        timske aktivnosti koje povezuju vaš tim i jačaju saradnju.
      </p>
    </div>
    <button
      class="bg-[#BF02C9] hover:bg-[#a102ac] transition-all duration-300 hover:-translate-y-1 hover:shadow-lg rounded-[20px] w-full md:max-w-[200px] md:w-full md:px-12 py-5"
    >
      <span class="text-white font-semibold">Projekti</span>
    </button>
  </div>
</section>
