---
import Carousel from "../components/Carousel";
import { getCollection, type CollectionEntry } from "astro:content";
import programsData from "../data/programs.json";
import activitiesData from "../data/activities.json";

const allPrograms = await getCollection("programs");

// Function to find an activity by ID
const findActivityById = (
  id: string
): (typeof activitiesData)[0] | undefined => {
  return activitiesData.find((activity) => activity.id.toString() === id);
};

// Process programs data to include corresponding activities
const programsWithActivities = programsData.map((program) => {
  const activities = program.activities
    .slice(0, 3) // Limit to three activities per program
    .map((activityId) => findActivityById(activityId))
    .filter((activity) => activity); // Filter out any undefined activities

  return {
    ...program,
    activityDetails: activities,
  };
});

// Function to shuffle array and get N random items
function getRandomItems(array: any[], n: number): any[] {
  const shuffled = [...array].sort(() => 0.5 - Math.random());
  return shuffled.slice(0, n);
}

// Get 6 random programs
const randomPrograms = getRandomItems(programsWithActivities, 6);
---

<section
  id="programs"
  class="min-h-[calc(100vh-56px)] w-full relative px-[30px] md:px-[0px] flex flex-col justify-center overflow-hidden"
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-[#202020] to-[#161616] opacity-20 z-0"
  >
  </div>
  <div class="max-w-screen-lg mx-auto relative z-10 w-full">
    <div class="flex flex-col gap-y-[30px]">
      <div class="flex justify-between items-start md:items-center">
        <div>
          <h1
            class="text-white font-semibold text-[28px] md:text-[36px] lg:text-[48px] leading-[1.4]"
          >
            Najpopularniji Programi
          </h1>
          <p class="text-white mt-[10px]">
            Pogledajte naše najtraženije tim bilding aktivnosti.
          </p>
        </div>
        <a
          href="/programs"
          class="text-white bg-[#BF02C9] hover:bg-[#a902b0] px-4 py-2 rounded-full font-medium transition-colors"
        >
          Pogledaj sve
        </a>
      </div>
      <div id="carousel-wrapper">
        <Carousel
          client:only="react"
          type="default"
          slides={randomPrograms.map((program) => ({
            type: "program",
            data: {
              id: program.id,
              title: program.name, // ProgramCard expects 'title' instead of 'name'
              participants: program.number_of_participatns, // ProgramCard expects 'participants'
              duration: program.duration,
              picture: program.picture, // Include the picture property
              // Include activities data for display in the carousel
              activities: program.activityDetails.map(
                (activity: (typeof activitiesData)[0]) => ({
                  title: activity?.title || "Aktivnost nije pronađena",
                  picture: activity?.picture || "", // Include activity picture property
                })
              ),
            },
          }))}
        />
      </div>
    </div>
  </div>
</section>
