---
import Carousel from "../components/Carousel";
import { getCollection, type CollectionEntry } from 'astro:content';

const allPrograms = await getCollection('programs');
---

<section
  id="programs"
  class="min-h-[calc(100vh-56px)] w-full relative px-[30px] md:px-[0px] flex flex-col justify-center overflow-hidden"
>
  <div class="absolute inset-0 bg-gradient-to-b from-[#202020] to-[#161616] opacity-20 z-0"></div>
  <div class="max-w-screen-lg mx-auto relative z-10 w-full">
  <div class="flex flex-col gap-y-[30px]">
    <div>
      <h1
        class="text-white font-semibold text-[28px] md:text-[36px] lg:text-[48px] leading-[1.4]"
      >
        Najpopularniji Programi
      </h1>
      <p class="text-white mt-[10px]">
        Pogledajte naše najtraženije tim bilding aktivnosti.
      </p>
    </div>
    <div id="carousel-wrapper">
      <Carousel
        client:only="react"
        type="default"
        slides={allPrograms.map((entry: CollectionEntry<'programs'>) => ({ type: "program", data: entry.data }))}
      />
    </div>
  </div>
  </div>
</section>
