---
import ProgramCard from "../components/ProgramCard.astro";
---

<section id="programs" class="h-screen px-[30px] flex flex-col justify-center">
  <div class="flex flex-col gap-y-[30px]">
    <div>
      <h1 class="text-white font-semibold text-[28px] leading-[39px]">
        Najpopularniji Programi
      </h1>
      <p class="text-white mt-[10px]">
        Pogledajte naše najtraženije tim bilding aktivnosti.
      </p>
    </div>
    <ProgramCard />
  </div>
</section>
