---
import { Image } from "astro:assets";
import stepImage from "../assets/step-image.png";

const items = [
  {
    title: "Izaberite program",
    description:
      "Pregledajte našu ponudu i izaberite aktivnosti koje najbolje odgovaraju vašem timu.",
  },
  {
    title: "Rezervišite termin",
    description:
      "Kontaktirajte nas i prilagodite događaj prema vašim potrebama.",
  },
  {
    title: "Uživajte u iskustvu",
    description: "Opustite se i prepustite organizaciju našem stručnom timu.",
  },
];
---

<section
  id="steps"
  class="h-[calc(100vh-56px)] px-[30px] flex flex-col justify-center"
>
  <div class="flex flex-col gap-y-[40px]">
    <div>
      <h1 class="text-white font-semibold text-[28px] leading-[39px]">
        Kako funkcioniše?
      </h1>
      <p class="text-white mt-[10px]">
        Sve što vam treba za savršen tim bilding
      </p>
    </div>
    <div class="flex flex-col gap-y-5">
      {
        items.map((item) => (
          <div class="flex gap-x-5 items-center p-5 rounded-[20px] bg-[#3B3B3B]">
            <Image
              class="h-[100px] w-[100px] rounded-full"
              src={stepImage}
              alt={item.title}
            />
            <div class="text-white">
              <p class="font-semibold">{item.title}</p>
              <p class="mt-2 text-xs">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
