---
import "@fontsource-variable/work-sans";
import MobileNavigation from "../components/MobileNavigation.jsx";
import DesktopNavigation from "../components/DesktopNavigation.astro";
import FooterSection from "../sections/FooterSection.astro";

// Only load Partytown in production
const loadPartytown = import.meta.env.PROD;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {loadPartytown && (
      <>
        <script
          is:inline
          type="text/partytown"
          src="https://www.googletagmanager.com/gtag/js?id=G-MKXRH3GCYL"></script>
        <script is:inline type="text/partytown">
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag("js", new Date());

          gtag("config", "G-MKXRH3GCYL");
        </script>
      </>
    )}
    <title>HIVE</title>
  </head>
  <body class="font-sans bg-[#2B2B2B]">
    <MobileNavigation client:load />
    <DesktopNavigation />
    <slot />
  <FooterSection />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
